---
import { Icon } from "lucide-react";
import BreadCrumb from "./BreadCrumb.astro";
import IconArrowRight from "./icons/IconArrowRight.astro";
import IconLink from "./icons/IconLink.astro";
import ButtonPrimary from "./ButtonPrimary.astro";
import consumoApi from "@/assets/Consumo-API.jpg";
const {
  title = "Title",
  descriptionLittle = "",
  image = consumoApi.src,
  descriptionLarge = "",
  tecnologies = [],
} = Astro.props;
---

<article
  class="text-porcelain w-4/12 bg-slate-950/10 shadow-lg shadow-slate-400/10 p-8 shadow-lg border-2 border-gray-400/50 rounded-2xl relative overflow-hidden pt-[400px]"
>
  <div>
    <div class="absolute top-0 right-0 w-full h-[350px] overflow-hidden">
      <img
        src={image}
        alt={title}
        class="w-full h-full object-cover transform transition-transform duration-300 ease-out hover:scale-110"
        style="transform-origin:center center; will-change:transform;"
      />
    </div>
    <h2 class="text-4xl font-semibold mb-4 text-Ssecondary-600">{title}</h2>
    <p class="text-pretty text-porcelain/80 mb-4">{descriptionLittle}</p>
  </div>
  <div class="flex gap-2 my-6 flex-wrap">
    {
      tecnologies.map((tecnology) => (
        <BreadCrumb icon={tecnology} class="w-6 h-6" />
      ))
    }
  </div>
  <!-- <BreadCrumbs /> -->
  <div class="flex gap-6">
    <ButtonPrimary>Ver detalles <IconArrowRight /></ButtonPrimary>
    <a
      href=""
      class="flex justify-center items-center text-blue-300 hover:underline gap-2"
      ><IconLink /> GitHub</a
    >
  </div>
</article>
